/*TODO: INCORPORATE ELLEN COLORS INTO THIS CSS FILE*/

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&family=Limelight&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  --clr-white: #f1efef;
  --clr-black: #181616;
  --clr-green: #25CB4A; 

  --pri: 225;
  /* primary color */
  --clr-pri: hsl(var(--pri), 98%, 60%);

  /* primary dark shades */
  --clr-pri-10: hsl(var(--pri), 4%, 87%);
  --clr-pri-20: hsl(var(--pri), 77%, 27%);
  --clr-pri-30: hsl(var(--pri), 72%, 37%);
  --clr-pri-40: hsl(var(--pri), 63%, 48%);
  --clr-pri-50: hsl(var(--pri), 63%, 54%);

  /* primary light shades */
  --clr-pri-60: hsl(var(--pri), 89%, 70%);
  --clr-pri-70: hsl(var(--pri), 90%, 76%);
  --clr-pri-80: hsl(var(--pri), 86%, 81%);
  --clr-pri-90: hsl(var(--pri), 90%, 88%);
  --clr-pri-100: hsl(var(--pri), 100%, 96%);

  --bl: 0;
  /* greys */
  --clr-grey-10: hsl(var(--bl), 4%, 12%);
  --clr-grey-20: hsl(var(--bl), 4%, 24%);
  --clr-grey-30: hsl(var(--bl), 4%, 33%);
  --clr-grey-40: hsl(var(--bl), 4%, 39%);
  --clr-grey-50: hsl(var(--bl), 4%, 47%);
  --clr-grey-60: hsl(var(--bl), 4%, 57%);
  --clr-grey-70: hsl(var(--bl), 4%, 68%);
  --clr-grey-80: hsl(var(--bl), 4%, 76%);
  --clr-grey-90: hsl(var(--bl), 4%, 87%);
  --clr-grey-100: hsl(var(--bl), 4%, 95%);

  --yel: 65; 
  /* yellow */
  --clr-yellow: hsl(var(--yel), 93%, 58%);

  --clr-yellow-10: hsl(var(--yel), 93%, 27%);
  --clr-yellow-20: hsl(var(--yel), 93%, 33%);
  --clr-yellow-30: hsl(var(--yel), 93%, 39%);
  --clr-yellow-40: hsl(var(--yel), 93%, 48%);
  --clr-yellow-50: hsl(var(--yel), 93%, 52%);
  --clr-yellow-60: hsl(var(--yel), 93%, 61%);
  --clr-yellow-70: hsl(var(--yel), 93%, 64%);
  --clr-yellow-80: hsl(var(--yel), 93%, 71%);
  --clr-yellow-90: hsl(var(--yel), 93%, 75%);
  --clr-yellow-100: hsl(var(--yel), 93%, 83%);


  --transition: all 0.3s linear;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 87.5%;
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 112.5%;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 125%;
  }
}

body {
  font-family: "Jost", sans-serif;
  background: var(--clr-grey-80);
  color: var(--clr-grey-10);
  line-height: 1.5;
}

h1,
h2 {
  font-family: "Limelight", cursive;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.25em;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.25em;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-50);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*
=============== 
Site Styles
===============
*/

#nav {
  text-align: center;
  background-color: var(--clr-pri);
  margin-top: 0.5em;
}

#login,
#register {
  max-width: 80%;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}

.form-onboard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 8rem;
  border: solid 2px var(--clr-yellow);
  border-radius: 1em;
  padding: 3rem;
  width: 25rem;
  height: 28rem;
  background-color: var(--clr-pri);
  color: var(--clr-grey-100);
  box-shadow: var(--light-shadow);
}

form h2 {
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  color: var(--clr-grey-90);
}

form label {
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  margin-bottom: 0.25em;
}

form input {
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: var(--dark-shadow);
  margin-bottom: 0.75em;
  padding: 0.5em 8px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

form button {
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  font-weight: 800;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
  padding: 0.5em 0;
}

.page-title {
  text-align: center;
  margin: 2rem 0;
}

.l-align {
  margin-left:1rem;
}

main {
  background-color: var(--clr-yellow); 
}

.main h2 {
  padding: 0.75em 0 0.5em;
}

.nav-profile {
  margin: 0 1rem; 
}

.card {
  max-width: 100%;
  padding: 0 0.25em;
  background-color: var(--clr-pri); 
  border: 2px solid var(--clr-green);
  border-radius: 0.25em;
}

.header {
  background-color: var(--clr-green);
  padding: 1em;  
}

/*
=============== 
Games
===============
*/


.game {
  grid-area: game-card;
}

.games section {
  display: grid;
  gap: 1rem 1rem;
  grid-template-columns: 1fr;
  grid-template-areas: "game-card";
  align-items: center;
  border: 3px solid var(--clr-pri-80);
  /* border-radius: 0.25rem; */
  padding: 1rem;
  /* margin: 1rem 0; */
}

@media only screen and (min-width: 576px) {
  .games section {
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "game-card game-card";
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .games section {
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "game-card game-card game-card";
    align-items: center;
  }
}

/*
=============== 
Portfolio
===============
*/

.portfolios {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem; 
  padding: 1rem; 
}

.portfolio-details h3 {
  margin-left: 1rem;
  padding: 0.5em 0;
  font-weight: 800;
}

